
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 375px;
}
.container{
    background-color: rgb(129, 124, 124);
}

header{
    background-color: white;
    width: 100%;
    min-height: 66px;
}

.mobile-view{
    height: 100%;
    margin: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width:75px;
    height: 35px;
}
.mobile-view-button i{
    width: Hug (20px)px;
    height: Hug (14px)px;
    top: 26px;
    left: 335px;
    gap: 7px;
    opacity: 0px;

}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a{
    display: block;
    justify-self: end;
    text-decoration: none;
    line-height: 2;
    margin: 0 20px;
    border-top: 1px solid rgb(238, 235, 235);
    color: black;
    font-weight: 700;
}

nav ul li a:focus{
    color: #00ADEE;
}
.head-button-wrapper{
    display: flex;
    gap: 2rem;
    justify-content: center;

    padding-bottom: 1rem;
}

.head-button-wrapper button{
    width: 98px;
    height: 30px;
    border: 2px solid #00ADEE;
    border-radius: 4px;
}
.empty{
    background-color: transparent;
    color: #00ADEE;
}

.fill{
    background-color:#00ADEE;
    color: #fff;
}


/* Js manipulation */
.close{
    display: none;
}

.open{
    display: block;
}


/* Hero section */
.hero{
    width: 100%;
    height: 1000px;
    top: 66px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(127.19deg, rgba(0, 0, 0, 0.2) 43.97%, rgba(0, 0, 0, 0) 106.04%);
    background-image: url(../img/hero-image-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content-wrapper{
    width: 100%;
    height: 367px;
    margin: 0 auto;
    top: 109px;
    left: 20px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    padding: 3rem 1.1rem;

}
.hero-content-wrapper h1{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.06em;
    text-align: left;
    color: #fff;
}

.hero-content-wrapper p{
    font-size: 16px;
    line-height: 28px;
    height: 112px;
    top: 209px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    color: #fff;

}


.hero-button-wrapper{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
}

.hero-button-fill{
    width: 100%;
    height: 56px;
    top: 351px;
    left: 20px;
    color: #fff;
    background-color: #00ADEE;
    border-radius: 4px;
    border: 1px solid #00ADEE;
    outline: none;

}

.hero-button-empty{
    width: 100%;
    height: 56px;
    top: 351px;
    left: 20px;
    color:#00ADEE;
    background-color:rgba(0, 173, 238, 0.21);
    border-radius: 4px;
    border: 1px solid #00ADEE;
    outline: none;
    

}

.banner{
    width: 100%;
    height: 304px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 65px;
    background-color: #FAFAFA;
}

.banner-items{
    display: flex;
    justify-content: space-between;

}


.perk-section-wrapper{
    width: 100%;
    height: 880px;
    top: 1105px;
    padding: 58px 20px 69px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    opacity: 0px;
    background-color: #fff;

}

.perk-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.perk-content h2{
    font-family: Plus Jakarta Display;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.88px;
    color: #474747;
    text-align: center;

}

.perk-content p{
    font-family: Plus Jakarta Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color:#6D7D8B;

}



/* Servive section */

.service-section-wrapper{
    width: 100%;
    min-height: 300px;
    top: 2015px;
    gap: 0px;
    opacity: 0px;
    background-color:#FAFAFA;

}

.service-header-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    border-bottom: 1px solid rgb(228, 226, 226);
}

.service-header-wrapper button{
   width: 155px;
   height: 40px;
   border-radius: 30px;
   padding: .7rem 1.2rem;
   border: 1px solid #00ADEE;
   background: #F5FCFF;
   color: #00ADEE;
   font-weight: 800;

}
.service-header-wrapper h1{
    color: #25313C;
    font-family: Plus Jakarta Display;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.23px;
    text-align: left;
    padding-top: .8rem;

}


.service-header-wrapper p{
    font-family: Plus Jakarta Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.1px;
    text-align: left;
    color:#6D7D8B;
    ;

}

.service-main-wrapper{
    padding: 1rem 0;
}
.content{
    width:100%;
    height: Hug (707px)px;
    top: 160px;
    gap: 0px;
    opacity: 0px;
    padding: 0 1rem 2rem;
}
.content-wrapper{
    padding: 1rem;
}
.content-wrapper h3{
    padding-bottom: 2rem;
    color:#25313C;
    font-family: Plus Jakarta Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.06px;
    text-align: left;

}

.content-wrapper p{
    color: #6D7D8B;
    padding-bottom: 1rem;

}

.content-wrapper ul{
    list-style: none;

}



.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.example{
    /* margin-left: 1rem; */
    gap: 2rem;
}

.check{
    align-items: center;
    gap: .5rem;
}

.gap{
    gap: 3rem;
}


.btn{
    width: 100%;
    height: 44px;
    top: 351px;
    left: 20px;
    color: #fff;
    background-color: #00ADEE;
    border-radius: 4px;
    border: 1px solid #00ADEE;
    outline: none;
    margin: 1.5rem 0;
}

.example ul li{
    font-size: 13px;
    color: #6D7D8B;
}
.example ul li img{
    height: 12px;
    width: 12px;
}

.list-top{
    padding-top: 3rem;
}
.graphical img{
    width: 100%;
}



/* About Us */

/* 

.service-main-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.service-main-wrapper .image{
    height: 5rem;
    background-color: greenyellow;
}
.service-main-wrapper .content{
    height: 5rem;
    background-color: red;
}


.about-us-wrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.about-us-content-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,600px));
}
.about-us-image{
} */