


.service-main-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.service-main-wrapper .image{
    height: 5rem;
    background-color: greenyellow;
}
.service-main-wrapper .content{
    height: 5rem;
    background-color: red;
}


.about-us-wrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.about-us-content-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,600px));
}
.about-us-image{
}